/* ========== Шрифты ========== */


/* Inter - ExtraLight */
@mixin primalFontExtraLight {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

/* Inter - Light */
@mixin primalFontLight {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Inter - Regular */
@mixin primalFontRegular {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Inter - Semibold */
@mixin primalFontSemibold {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Inter - Bold */
@mixin primalFontBold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}