/* ШРИФТЫ */
$primalFontSize: 16px;

// Блок header
$primalHeaderLogoFontSize: 20px;

// Блок promo
$promoHeaderMainText: 80px;
$promoHeaderSubText: 64px;
$promoButtonsDiscover: 18px;


/*ЦВЕТА*/
$primalColor: #fff;

// Блок header
$primalHeaderBGColor: rgba(255, 255, 255, 0.2);

// Блок promo
$promoButtonsBorderColor: #fff;




