/* ШРИФТЫ */
$primalFontSize: 16px;

// Блок header
$primalHeaderLogoFontSize: 20px;

// Блок promo
$promoHeaderMainText: 80px;
$promoHeaderSubText: 64px;
$promoButtonsDiscover: 18px;

// Блок discover
$discoverHeaderMainText: 80px;
$discoverHeaderGenreText: 20px;
$discoverHeaderGenreCardText: 24px;
$discoverButtonsGenrePlay: 16.4px;
$discoverButtonsGenreBuy: 20px;


// Блок footer
$footerHeaderMainText: 46px;
$footerSocialLinkText: 32px;
$footerTopButton: 32px;
$footerBottomDocsText: 18px;
$footerBottomCopyrightText: 18px;


/*ЦВЕТА*/
$primalColor: #fff;

// Блок header
$primalHeaderBGColor: rgba(255, 255, 255, 0.2);

// Блок promo
$promoButtonsBorderColor: #fff;

// Блок discover
$discoverButtonsBorderColor: #A3A3A3;
$discoverCardBorderColor: #fff;
$discoverCardButtonsBorderColor: #fff;

// Блок footer
$footerSocialBorderColor: #fff;
$footerTopButtonTextColor: #fff;

//BURGER-MENU
$burgerMenuColor: #fff;
$burgerMenuBGColor: gray;




