.discover{
    padding: 151px 0px 110px 0px;
        &-container{
            display: flex;
            flex-direction: column;
        }

        &-header{
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 1460px) {
                flex-direction: column;
            }
                .discover-text{
                    &__item{
                        font-size: $discoverHeaderMainText;
                        @media screen and (max-width: 610px){
                            font-size: calc($discoverHeaderMainText/1.1);
                         }
                    }
                }
                .discover-genre{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                        &__wrapper{
                            display: flex;
                            @media screen and (max-width: 730px){
                                flex-direction: column;
                                
                            }
                        }
                        &__header-wrapper{
                            display: flex;
                            align-items: center;
                            @media screen and (max-width: 730px){
                                margin-bottom: 20px; 
                             }
                        }
                        &__header{
                            font-size: $discoverHeaderGenreText;
                            margin-right: 16px;
                        }
                }
                .genre-content{
                    display: flex;
                    align-items: center;
                    @media screen and (max-width: 510px){
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    &__item{
                        background: transparent;
                        color: $primalColor;
                        border: 1px solid $discoverButtonsBorderColor;
                        padding: 10px 20px;
                        border-radius: 50px;
                        cursor: pointer;
                        transition: color 0.2s;
                        @media screen and (max-width: 610px){
                           font-size: 13px;
                        }
                        
                        &:not(:last-child){
                            margin-right: 16px;

                            @media screen and (max-width: 610px){
                                margin-right: 5px;
                            }
                        }
                        &:hover{
                            color: #8f32a8;
                        }

                        @media screen and (max-width: 510px){
                            font-size: $primalFontSize;
                            &:not(:first-child){
                                margin-top: 15px;
                            }
                         }
                        
                    }
                }   
        }

       &-content{
           margin-top: 89px;
           display: grid;
           grid-template-columns: repeat(3, minmax(100px, 403px));
           justify-content: space-between;
           grid-gap: 10px;
           transition: all 0.3s;
           min-height: 429px;
                @media screen and (max-width: 1460px) {
                    grid-template-columns: repeat(2, minmax(100px, 0.4fr));
                    justify-content: center;
                    grid-row-gap: 100px;
                }

                @media screen and (max-width: 1150px){
                    grid-template-columns: 100%;
                }

            .discover-card{
                transition: all 0.3s;
                border: 1px solid $discoverCardBorderColor;
                padding-bottom: 33px;
                position: relative;
                
                    &__img-wrapper{
                        width: 100%;
                    }
                    &__img{
                        position: relative;
                        top: -10%;
                        right: -15%;
                        object-fit: cover;
                        @media screen and (max-width: 1150px){
                            top: -15%;       
                            left: 60%;
                        }

                        @media screen and (max-width: 992px){
                           max-width: 30%;
                           left: 65%;
                        }

                        


                    }
                    .header-genre-card{
                        position: relative;
                        right: -15%;
                        
                        @media screen and (max-width: 1150px){
                            position: absolute;
                            top: 20%;
                            right: 0;
                            left: 5%;
                        }
                            &__item{
                                line-height: 29px;
                                @include primalFontSemibold;
                                font-size: $discoverHeaderGenreCardText;

                                    @media screen and (max-width: 1150px){
                                        font-size: calc($discoverHeaderGenreCardText * 2) 
                                    }

                                    @media screen and (max-width: 885px){
                                        font-size: calc($discoverHeaderGenreCardText * 1.3) 
                                    }
                            }
                            
                    }
                    .buttons-genre-card{
                        position: relative;
                        flex-wrap: wrap;
                        @media screen and (max-width: 1150px){
                            position: absolute;
                            top: 30%;
                            left: 5%;
                            
                        }
                            &__play{
                                font-size: $discoverButtonsGenrePlay;
                                @include primalFontLight;
                                background: transparent;
                                color: $primalColor;
                                border: 1px solid $discoverCardButtonsBorderColor;
                                padding: 11px 50px 11px 22px;
                                border-radius: 55px;
                                position: relative;
                                cursor: pointer;
                                
                                    @media screen and (max-width: 1150px){
                                        font-size: calc($discoverButtonsGenrePlay * 2)       
                                    }

                                    @media screen and (max-width: 885px){
                                        font-size: calc($discoverButtonsGenrePlay * 1.4)       
                                    }
                                    @media screen and (max-width: 730px){
                                        font-size: calc($discoverButtonsGenrePlay / 1.1)
                                     }

                                    &::after{
                                        content: '';
                                        background: url('../images/discover/button-play.svg');
                                        width: 22px;
                                        height: 22px;
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 68%;

                                        @media screen and (max-width: 1150px){
                                            left: 80%;
                                            
                                        }
                                        
                                    }
                            }

                            &__buy{
                                text-transform: uppercase;
                                background: linear-gradient(99.74deg, #06DBAC 5.23%, #BD00FF 92.7%);
                                border-radius: 55px;
                                border: 0;
                                padding: 8px 25px;
                                font-size: $discoverButtonsGenreBuy;
                                color: $primalColor;
                                cursor: pointer;
                                margin: 29px 0px 0px 17.4px;

                                    @media screen and (max-width: 1150px){
                                        font-size: calc($discoverButtonsGenreBuy * 2)
                                    }

                                    @media screen and (max-width: 885px){
                                        font-size: calc($discoverButtonsGenreBuy * 1.4)  
                                    }

                                    @media screen and (max-width: 730px){
                                        font-size: calc($discoverButtonsGenreBuy / 1.1)  
                                    }
                            }
                    }
            }

            .discover-hide{
                opacity: 1;
                animation-name: discoverCardHide;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

            @keyframes discoverCardHide{
                to {
                    opacity: 0;
                }
            }
       } 
}