.footer{
    padding: 96px 0px 73px 0px;
    @media screen and (device-width: 360px){
        padding: 0px 0px 50px 0px;
    }
        &-container{
            display: flex;
            flex-direction: column;
        }

        &__column{
            &:not(:first-child){
                margin-top: 45px;
            }
        }

        &-header{
            &__text{
                font-size: $footerHeaderMainText;
                font-style: normal;
                line-height: 56px;
                @media screen and (max-width: 360px){
                    font-size: calc($footerHeaderMainText - 2px);
                }
            }
        }

        &-contacts{
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 885px){
                flex-direction: column;
            }
            &__social{
                
            }
            .social-footer{
                display: flex;
                @media screen and (max-width: 1150px){
                    flex-direction: column;
                }
                    &__link{
                        font-size: $footerSocialLinkText;
                        line-height: 39px;
                        padding: 0px 42px 0px 42px;
                        @media screen and (max-width: 1150px){
                            padding: 0px 0px 0px 0px;
                            &:not(:first-child){
                                margin-top: 20px;
                            }
                        }
                        &:not(:last-child){
                            border-right: 1px solid $footerSocialBorderColor;
                            
                            @media screen and (max-width: 1150px){
                                border: 0;
                            }
                        }

                        &:first-child{
                            padding: 0px 42px 0px 0px;
                            @media screen and (max-width: 1150px){
                                padding: 0px 0px 0px 0px;
                            }
                        }

                        &:last-child{
                            padding: 0px 0px 0px 42px;
                            @media screen and (max-width: 1150px){
                                padding: 0px 0px 0px 0px;
                            }
                        }
                    }
            }
            .top-button-footer{
                @media screen and (max-width: 885px){
                    margin-top: 20px;
                    
                }
                &__btn{
                    font-size: $footerTopButton;
                    line-height: 39px;
                    background: transparent;
                    border: 0;
                    color: $footerTopButtonTextColor;
                    position: relative;
                    cursor: pointer;
                    @media screen and (max-width: 885px){
                        color:darkmagenta;
                    }

                    @media screen and (max-width: 280px){
                        margin: 40px 0 0 0;
                    }
                        &::after{
                            content: '';
                            background: url('../images/footer/top-button-arrow.svg') no-repeat center;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left: -15%;
                            
                            @media screen and (max-width: 885px){
                                left: 105%;
                            }

                            @media screen and (max-width: 280px){
                                display: none;
                                content: none;
                            }
                        }
                }
            }
        }


        &-bottom{
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 768px){
                flex-direction: column;
            }
            .docs-footer{
                font-size: $footerBottomDocsText;
                line-height: 22px;
                &>a:hover{
                    text-decoration: underline;
                }
                @media screen and (max-width: 768px){
                    display: flex;
                    flex-direction: column;
                }
            }

            .copyright-footer{
                font-size: $footerBottomCopyrightText;
                line-height: 22px;
                @media screen and (max-width: 768px){
                    margin-top: 20px;
                }
            }
        }
}