.header{
    width: 100%;
    padding: 9px 0 18px 0;
    background: $primalHeaderBGColor;
    backdrop-filter: blur(10px); /* Размытие */
    top: 0;
    position: absolute;
        ::after{
            content: '';
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background: #fff;
            width: 80%;
            height: 2px;
        }
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__column{
        flex-basis: auto;
    }
    &-logo{
        .logo-text{
            &__item{
                line-height: 24px;
                font-size: $primalHeaderLogoFontSize;
                .logo-text__top{
                    @include primalFontSemibold;
                }
            }
        }
    }

    &-nav{
        flex-basis: 456px;
        
        @media screen and (max-width: 991px){
            display: none;
        }
        .nav-header{
            .nav-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: uppercase;
                    &__item{
                        line-height: 19px;
                        transition: color .3s;
                        &:hover{
                            color: rgb(199, 194, 194);
                        }
                    }
            }
        }
    }

    &-contacts{
        flex-basis: 121px;
        @media screen and (max-width: 991px){
            display: none;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }    
        
    }

    
}