section.discover
    .container.discover-conatiner
        .discover__column.discover-header
            .discover-header__text.discover-text
                span.discover-text__item Discover <br> Music NFT
            .discover-header__genre.discover-genre
                span.discover-genre__header Music Genre
                .discover-genre__content.genre-content
                    button.genre-content__item Rock
                    button.genre-content__item Pop
                    button.genre-content__item K-Pop
                    button.genre-content__item Jazz
                    button.genre-content__item Funk
        .discover__column.discover-content