section.discover#marketplace
    .container.discover-container
        .discover__column.discover-header
            .discover-header__text.discover-text
                span.discover-text__item Discover <br> Music NFT
            .discover-header__genre.discover-genre
                .discover-genre__wrapper
                    .discover-genre__header-wrapper
                        span.discover-genre__header Music Genre
                    .discover-genre__content.genre-content
                        button.genre-content__item(data-g="all") All
                        button.genre-content__item(data-g="rock") Rock
                        button.genre-content__item(data-g="pop") Pop
                        button.genre-content__item(data-g="k-pop") K-Pop
                        button.genre-content__item(data-g="jazz") Jazz
                        button.genre-content__item(data-g="funk") Funk
        .discover__column.discover-content

            
                    

