footer.footer
    .container.footer-container
        .footer__column.footer-header
            .footer-header__item
                h4.footer-header__text Shape the NFT Music
        .footer__column.footer-contacts
            .footer-contacts__social.social-footer 
                a.social-footer(href="#") Facebook
                a.social-footer(href="#") Twittter
                a.social-footer(href="#") Medium
                a.social-footer(href="#") Contact
            .footer-contacts__top-button.top-button-footer
                button.top-button-footer Back to the top      
        .footer__column.footer-bottom
            .footer-bottom__docs.docs-footer
                a.footer-docs__item(href="#") Privacy Policy  
                a.footer-docs__item(href="#") Terms and Conditions 
            .footer-bottom__copyright.copyright-footer
                span.copyright-footer__text Copyright © 2022 Avi Yansah

