header.header#about
 .container.header-container 
    .header__column.header-logo
        .header-logo__text.logo-text
            p.logo-text__item 
                span.logo-text__top Music<br> 
                span.logo-text__bottom NFT Platform
    .header__column.header-nav
        nav.header-nav__navigation.nav-header
            ul.nav-header__list.nav-list
                li.nav-list__item
                    a.nav-list__link(href="#marketplace") Marketplace  
                li.nav-list__item
                    a.nav-list__link(href="#about") About
                li.nav-list__item
                    a.nav-list__link(href="#resources" target="_blank") Resources 
                li.nav-list__item
                    a.nav-list__link(href="https://facebook.com" target="_blank") FAQ     
    .header__column.header-contacts
        .header-contacts__item.contacts-header
           a.contacts-header__link(href="https://facebook.com" target="_blank") 
            img.contacts-header__image(src=require("../images/header/header-contacts/facebook.svg"), alt="Facebook")
           a.contacts-header__link(href="https://twitter.com" target="_blank") 
            img.contacts-header__image(src=require("../images/header/header-contacts/twitter.svg"), alt="Twitter")
           a.contacts-header__link(href="https://medium.com" target="_blank") 
            img.contacts-header__image(src=require("../images/header/header-contacts/mdm.svg"), alt="MDM")
            
             