section.promo
    .container.promo-container
        .promo__column.promo-header
            .promo-header__item.promo-header-text
                h1.promo-header-text__top Music for NFT creators.
                h2.promo-header-text__bottom Digital Music for fans.  
        .promo__column.promo-discription
            .promo-discription__block
                p.promo-discription__text Music NFTs will continue to revolutionize the way that artists and fans create community together as we enter the upcoming year — undoubtedly changing the trajectory of countless budding music careers.  
        .promo__column.promo-buttons
            .promo-buttons__block
                img.promo-buttons__solana(src="#", alt="")
                button.promo-buttons__discover Discover More


